.order__right__group__top {
  display: flex;
  align-items: center;
  padding: 16px 30px;
}

.order__title {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.order__right__group__bottom {
}
