.order__section {
  padding: 24px 300px;
}
.order__left__group {
  width: 60%;
  margin-top: 50px;
}

.order__right__group {
  width: 35%;
  height: 260px;
  margin-left: 5%;
  margin-top: 80px;
  border: 1px solid #dddddd;
}
