.product__detail__info {
  width: 100%;
  &__name {
    font-size: 24px;
  }

  &__price {
    font-size: 24px;
  }
}

.product-detail-button {
  width: 100%;
  padding: 24px;
  background: #73675c;
  font-size: 24px;
  color: white;
}
