.cart__section {
  padding: 24px 300px;
}

.cart__section__title {
  font-size: 24px;
  font-weight: 600;
}

.cart__left__group {
  width: 60%;
  margin-top: 50px;
}

.cart__right__group {
  width: 35%;
  height: 260px;
  margin-left: 5%;
  margin-top: 80px;

  border: 1px solid #dddddd;
}
