.cart__right__group__top {
  display: flex;
  align-items: center;
  padding: 16px 30px;
}

.cart-right-section__bottom {
}

.cart__title {
  display: flex;
  align-items: center;
  font-size: 20px;
}
